body {
    background: #cfe1ec;
    margin-left: 200px;
    margin-right: 300px;
}

header{
    margin-top: 70px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    color: rgb(82, 1, 12);
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.img_padrao{
    margin-bottom: 20px;
    width: 200px;
}

.img_contato{
    width: 50px;
}

.subtitulo{
    font-size: 20px;
    color: rgb(104, 1, 1);
}

footer{
    margin-bottom: 30px;
}